.Login,
.Signin {
    width: 100vw;
    display: flex;
    height: 100vh;
}

.Home {
    display: flex;
    flex-direction: column;
    padding: 10px;

    width: 100vw;
}

.Home .add-contact-bt {
    height: 48px;
    font-size: 1.3rem;
    background-color: rgb(17, 17, 103);
    border: 1px solid #FFF;
}

.Home>.contacts-display {
    width: 100%;
    padding: 1.5rem 3.0rem;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}